---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__hero--overlay {
  position: relative;
  width: 100%; 
  margin: 0 auto; 
  clear: both;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: intro 0.3s both;
  animation: intro 0.3s both;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c1c2d0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    width: 200px; /* Set a fixed width for all buttons */
    white-space: nowrap; /* Prevent text wrapping */
  }
  
  .btn:hover {
    background-color: #f2f4f6; 
  }

  .carousel-container {
    width: 50%; /* Adjust this value to make the carousel smaller */
    margin: 0 auto 2rem auto; /* Center the carousel and add margin at the bottom */
  }
  
  .carousel-item img {
    width: auto;
    height: 100%; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure the image covers the area without stretching */
  }
  
  // Add this to your main.scss file
body {
  font-size: 17px !important; /* Force the base font size */
}

h1 {
  font-size: 1.5rem !important; /* Force the font size for h1 */
}

h2 {
  font-size: 1.5rem !important; /* Force the font size for h2 */
}

h3 {
  font-size: 1.2rem !important; /* Force the font size for h3 */
}

h4 {
  font-size: 1.25rem !important; /* Force the font size for h4 */
}

h5 {
  font-size: 1rem !important; /* Force the font size for h5 */
}

h6 {
  font-size: 1rem !important; /* Force the font size for h6 */
}