---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__hero--overlay {
  position: relative;
  width: 100%; 
  margin: 0 auto; 
  clear: both;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: intro 0.3s both;
  animation: intro 0.3s both;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c1c2d0;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
    text-align: center;
    width: 200px; /* Set a fixed width for all buttons */
    white-space: nowrap; /* Prevent text wrapping */
  }
  
  .btn:hover {
    background-color: #f2f4f6; 
  }

  h1 {
    white-space: pre-line;
    text-align: center;
  }
  