---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.lang-toggle {
    font-weight: bold;
    margin-left: 10px;
  }
  
  .lang-toggle:hover {
    background-color: #d3d3d3;
    color: #fff;
  }  
